<h1>Editing Video</h1>

<%= render 'form', video: @video %><br>

<%= link_to 'Delete Video', @category, class: "btn btn-danger", method: :delete, data: { confirm: "Are you sure you want to delete this video?" } %>
