<%= simple_form_for :video, url: upload_csv_videos_path, method: :post, html: {multipart: true} do |f| %>

  <div class="form-group">
    <p class="help">Add a CSV File</p>
    <%= file_field_tag 'csv_file', class: "form-input" %>
  </div>

  <%= f.submit "Upload", :class => "btn btn-primary" %> 
<% end %>
